html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-weight: $font-weight;
}

.page-wrapper {
  min-height: 100%;
  padding-top: $navbar-height;
  padding-bottom: 128px;
  position: relative;
}

.content-regular {
  padding-top: $spacing;
  padding-bottom: $spacing - 10px;
}

.ui-view-container {
  &>div.ng-enter {
    transition: all 0.5s;
    opacity: 0;
    transform: translate3d(0, $spacing, 0);
  }

  &>div.ng-enter-active {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}