.no-wrap {
  white-space: nowrap;
}

.heading::after {
  margin: 20px;
  display: block;
  content: " ";
  background: $black;
  height: 1px;
  width: $spacing;
}

p {
  margin: 0 0 20px;

  &.lead {
    margin: 0 0 20px;
    font-size: $font-size-large;
    line-height: $line-height-base;
  }
}