.no-wrap {
  white-space: nowrap;
}

.heading::after {
  margin: 20px 0;
  display: block;
  content: " ";
  background: $text-color;
  height: 1px;
  width: $spacing;
}

p {
  margin: 0 0 20px;

  &.lead {
    margin: 0 0 20px;
    font-size: $font-size-large;
    line-height: $line-height-base;
  }
}

hr {
  color: $text-color !important;
  border: 1px solid $text-color;
  width: 20px;
}