<form ng-submit="contactForm.submit()">
    <div ng-repeat="field in contactForm.formDefinition.fields">
        <div ng-if="field.type === 'single-line-text'"
             text-input
             name="{{field.slug}}"
             label="{{field.label}}"
             placeholder="{{field.placeholder}}"
             model="contactForm.data[field.slug]"></div>
        <div ng-if="field.type === 'email'"
             email-input
             name="{{field.slug}}"
             label="{{field.label}}"
             placeholder="{{field.placeholder}}"
             model="contactForm.data[field.slug]"></div>
        <div ng-if="field.type === 'paragraph-text'"
             text-input
             name="{{field.slug}}"
             label="{{field.label}}"
             placeholder="{{field.placeholder}}"
             model="contactForm.data[field.slug]"
             rows="7"></div>
    </div>
    <div submit-input value="{{contactForm.formDefinition.buttonText}}"></div>
</form>
