<section class="container content-regular">
    <header class="heading">
        <h1>Contact</h1>
    </header>
    <div class="row">
        <div class="col-sm-6">
            <p class="lead">Na het bekijken van mijn portfolio heb je hopelijk een
                goed idee gekregen van wat ik kan. Heb je een interessant project waar je nog een
                developer voor kan gebruiken? Of heb je wel een geniaal concept, maar nog niemand die
                het uit kan voeren? Twijfel dan geen moment en neem contact met mij op via het
                contactformulier, of via een van de onderstaande contactmethodes.</p>
            <address>
                <strong>Jurgen Romeijn</strong><br/>
                <i class="icon-envelope"></i> E-mail: <a href="mailto:mail@jurgenromeijn.com" target="_blank">mail@jurgenromeijn.com</a><br/>
                <i class="icon-phone"></i> Telefoon: 06 &#8211; 17 50 99 31
            </address>
        </div>
        <form class="col-sm-6" contact-form ng-submit="contactForm.submit(data)">
            <div text-input name="ccf_field_name" label="Naam"></div>
            <div email-input name="ccf_field_email" label="E-mailadres"></div>
            <div text-input name="ccf_field_message" label="Bericht" rows="7"></div>
            <div submit-input value="Verzenden"></div>
            <input type="hidden" name="form_id" ng-model="data.form_id" value="365">
            <input type="hidden" name="ccf_form" ng-model="data.ccf_form" value="1">
            <input type="hidden" name="form_nonce" ng-model="data.form_nonce" value="7d992ed0c5">
        </form>
    </div>
</section>
