.about-images {
  padding-left: 15px;
  padding-right: 15px;

  .about-image {
    padding-left: 0;
    padding-right: 0;
  }
}

.content-about {
  margin-bottom: 30px;

  h1, h2 {
    margin-top: 50px;
  }
}