<div class="form-group">
    <label for="{{name}}">{{label}}</label>
    <input data-ng-if="rows === undefined || rows <= 1"
           required
           type="text"
           class="form-control"
           name="{{name}}"
           id="{{name}}"
           data-ng-model="$parent.model"
           placeholder="{{placeholder}}">
    <textarea data-ng-if="rows !== undefined && rows > 1"
              required
              class="form-control"
              name="{{name}}"
              id="{{name}}"
              data-ng-model="$parent.model"
              placeholder="{{placeholder}}"
              rows="{{rows}}"></textarea>
</div>
