<div class="form-group">
    <label ng-attr-for="{{name}}">{{label}}</label>
    <input ng-if="rows === undefined || rows <= 1"
           type="text"
           class="form-control"
           name="{{name}}"
           id="{{name}}"
           ng-model="data[name]"
           ng-value="value"
           placeholder="{{placeholder}}">
    <textarea ng-if="rows !== undefined && rows > 1"
              class="form-control"
              name="{{name}}"
              id="{{name}}"
              ng-model="data[name]"
              ng-value="value"
              placeholder="{{placeholder}}"
              rows="{{rows}}"></textarea>
</div>
