.project-image {
  margin-bottom: $spacing;

  &:nth-child(odd) {
    float: left;
  }

  &:nth-child(even) {
    float: right;
  }
}

.project-info {
  border-left: 1px solid #000;
  padding: 15px 0 0 15px;
  margin-bottom: 10px;
}

.project-content {
  margin-bottom: 40px;
}