<div class="project-overview">
    <ul class="list-unstyled row">
        <li class="project col-lg-{{projectOverview.colWidthLg}} col-md-{{projectOverview.colWidthMd}} col-sm-{{projectOverview.colWidthSm}} col-xs-{{projectOverview.colWidthXs}}"
            data-ng-repeat="project in projectOverview.projects | limitTo:projectOverview.limit">
            <a ui-sref="projects-detail({slug: project.slug})">
                <figure class="project-thumb">
                    <img data-ng-src="{{project.featuredImage.sizeVariants.postThumbnail.url}}">
                    <figcaption class="project-caption">
                        <div>
                            <div class="heading project-title">
                                <h3>{{project.title}}</h3>
                            </div>
                            <p class="project-excerpt">{{project.excerpt}}</p>
                        </div>
                    </figcaption>
                </figure>
            </a>
        </li>
    </ul>
</div>