@font-face {
  font-family: "Pixelade";
  src: url("../../assets/fonts/pixelade/pixelade.eot?") format("eot"),
  url("../../assets/fonts/pixelade/pixelade.woff2") format("woff2"),
  url("../../assets/fonts/pixelade/pixelade.woff") format("woff"),
  url("../../assets/fonts/pixelade/pixelade.ttf") format("truetype"),
  url("../../assets/fonts/pixelade/pixelade.svg#Pixelade") format("svg");
}

h1, h2, h3, h4, h5, h6 {
  text-transform: uppercase;

  &::before {
    content: "[";
  }

  &::after {
    content: "]";
  }
}