<section class="page-footer">
    <div class="container">
        <div class="row text-center">
            <p>&copy; Jurgen Romeijn 2016</p>
            <ul class="list-inline social">
                <li>
                    <a href="https://github.com/jurgenromeijn"
                       data-ng-click="header.isNavbarCollapsed = true"
                       target="_blank">
                        <i class="fa fa-github"></i>
                    </a>
                </li>
                <li>
                    <a href="https://nl.linkedin.com/in/jurgen-romeijn-3686b684"
                       data-ng-click="header.isNavbarCollapsed = true"
                       target="_blank">
                        <i class="fa fa-linkedin"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</section>