.page-footer {
  background: $gray-lighter;
  color: $gray-dark;
  font-family: Pixelade;
  text-transform: uppercase;
  padding: $spacing 0 ($spacing - ($line-height-computed / 2));

  .social a {
    color: $gray-dark;
  }
}